__pycache__
# Python
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/

data

main.ipynb
# Extension / compiled
*.so
*.pyd
*.dll
*.obj
*.o

.profiler_logs/
.tb_prof_ext/

# Temp
.vscode/
.idea/